@charset "UTF-8";
body{font-family:SimSun;font-size: 13px;}
h4{letter-spacing:5px;font-size:20px;font-weight:400;margin-bottom:10px;}
.sub_title{font-weight:550;letter-spacing:10px;margin-bottom:10px;}
.print_size{
	width: 210mm;
    min-height: 297mm;
    padding: 5mm;
    margin: 0 auto 10mm;
    /* border: 1px #D3D3D3 solid; */
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.print_page{position:relative;padding-top:20px;}
 .mark{
opacity:0.2;
filter:alpha(opacity=20); /* 闁藉牆顕� IE8 娴犮儱寮烽弴瀛樻－閻ㄥ嫮澧楅張锟� */
}
.print_table label{
	display: inline-block ;
	vertical-align: middle;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family:SimSun;font-size: 13px;
}

.print_table tr td{
	border: 1px solid;
	border-color: black;
	padding-left: 5px;
	font-family:SimSun;font-size: 13px;
}
p{font-size:13px;}
.print_split{

	/* page-break-before: auto; */
   	page-break-after:always;
}
.print_span_underline{
	border-bottom: 1px #000 solid;
	display:inline-block;
	width: 100px;;
}
.print_table tbody tr td p span{
	font-size:13px;
}
.patientName{font-size:16px;font-weight:700;}
/* .doctorAdviceContent{
	border-bottom: 1px #000 solid;
} */
/* .doctorAdviceContent tr td{
	border-left: 1px #000 solid;
	border-right: 1px #000 solid;
	border-bottom: none;
	border-top: none;
} */
