@charset "UTF-8";
#wrapper {
  padding: .3rem;
}
#wrapper li {
  border-bottom: 1px solid #d8d8d8;
}
#wrapper li a {
  display: block;
  padding: .2rem;
  background: #9E7831;
  border-radius: 4px;
  position: relative;
}
#wrapper li a p {
  width: 90%;
  font-size: .3rem;
}
#wrapper li a p span {
  color: #fff;
}
#wrapper li a .icon_star {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: url(../publics/images/star.png) no-repeat center;
  background-size: 100% 100%;
  top: .3rem;
  right: .2rem;
}
#wrapper li a .collected_star {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: url(../publics/images/active_star.png) no-repeat center;
  background-size: 100% 100%;
  top: .3rem;
  right: .2rem;
}
#wrapper li a .icon_borrow {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: url(../publics/images/icon_borrow.png) no-repeat center;
  background-size: 100% 100%;
  top: .3rem;
  right: .2rem;
}
#wrapper li a .icon_borrowed {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: url(../publics/images/icon_borrowed.png) no-repeat center;
  background-size: 100% 100%;
  top: .3rem;
  right: .2rem;
}
#wrapper li a .icon_agree {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: url(../publics/images/agree.png) no-repeat center;
  background-size: 100% 100%;
  top: .3rem;
  right: .2rem;
}
